@inherits UmbracoViewPage

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var siteSettingPage = homePage?.DescendantOrSelf<SiteSettingPage>();
    var navigationItems = siteSettingPage?.MainNavigation;

    var logo = siteSettingPage?.MainLogo?.Url();
    var homeNavigationItem = (NavigationItem)navigationItems[0].Content;
}

<header class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="@homeNavigationItem.Link.Url">
            <img class="img-fluid" src="@logo" alt="@siteSettingPage?.SiteName">
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
                aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navogation">
            @if (navigationItems.Any())
            {
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in navigationItems)
                    {
                        var navigationItem = (NavigationItem)item.Content;

                        var dropDownCssClass = navigationItem.ChildLinks != null && navigationItem.ChildLinks.Any() ? "dropdown" : "";

                        <li class="nav-item @dropDownCssClass">
                            @if (navigationItem.ChildLinks != null && navigationItem.ChildLinks.Any())
                            {
                                var dropdownId = $"{navigationItem.Link.Name}DropDown";

                                <a class="nav-link text-uppercase text-dark dropdown-toggle" href="@navigationItem.Link.Url" id="@dropdownId" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @navigationItem.Title
                                </a>
                                <div class="dropdown-menu" aria-labelledby="@dropdownId">
                                    @foreach (var child in navigationItem.ChildLinks)
                                    {
                                        <a class="dropdown-item" href="@child.Url" target="@child.Target">@child.Name</a>
                                    }
                                </div>
                            }
                            else
                            {
                                <a class="nav-link text-uppercase text-dark" href="@navigationItem.Link.Url" target="@navigationItem.Link.Target">@navigationItem.Title</a>
                            }
                        </li>
                    }
                </ul>
            }
            
            <form class="form-inline position-relative ml-lg-4">
                <input class="form-control px-0 w-100" type="search" placeholder="Search">
                <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
                <a href="search.html" class="search-icon"><i class="ti-search text-dark"></i></a>
            </form>
        </div>
    </nav>
</header>